# Git
.git
.gitignore

# Environment
.env
.env.*

# Logs
log/*
tmp/*
*.log

# Caches
.jekyll-cache
tmp/cache
public/assets

# Development files
.DS_Store
coverage
.byebug_history

# Test files
test/
spec/

# Documentation
README.md
doc/

# IDE
.vscode
.idea

# Node modules (if any)
node_modules/
